<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <appSettings>
        <!-- フルパスにてSteamクライアントのインストールフォルダを指定 ex."C:steam"-->
        <add key="SteamFolder" value="" />
        <!-- 未プレイのゲームと判断するプレイ時間を設定(分単位) -->
        <add key="UnplayedJudgmentTime" value="0" />
        <!-- 自身のWebAPIキーを設定 -->
        <add key="SteamWebAPIkey" value="" />
        <!-- 自身のSteamIdを設定(17桁の64ビットID) -->
        <add key="SteamId" value="" />
        <!-- 除外理由コンボボックスの内容を設定 -->
        <add key="ExclusionReasonMax" value="3" />
        <add key="ExclusionReason2" value="プレイ済み" />
        <add key="ExclusionReason3" value="現在のPC環境では起動不可" />
        <add key="ExclusionReason4" value="その他" />
    </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>